<form action="/user/<%= item.id %>" method="POST">
  <div class="row">
    <div class="span1">
      <img class="avatar" width="64" height="64" src="<%= item.getGravatarUrl({s:64}) %>">
    </div>
    <div class="span11">
      <!-- Name -->
      <div class="readWriteField">
        <label class="title">Username:</label>
        <% if(editable) { %>
        <input type="text" class="value" name="username" value="<%= item.username %>"/>
        <% } else { %>
        <span class="value"><%= item.username %></span>
        <% } %>
      </div>

      <!-- Email -->
      <div class="readWriteField">
        <label class="title">Email:</label>
        <% if(editable) { %>
        <input type="text" class="value" name="email" value="<%= item.email %>"/>
        <% } else { %>
        <span class="value"><%= item.email %></span>
        <% } %>
      </div>

      <!-- Actions -->
      <% if(editable) { %>
        <br/>
        <input type="submit" class="btn btn-primary" href="/user/<%= item.id %>" title="Save" value="Save"/>
      <% } %>
    </div>
  </div>
</form>

