<script src="/scripts/three.js"></script>
<script src="/scripts/three.TrackballControls.js"></script>
<script src="/scripts/three.RequestAnimationFrame.js"></script>

<form action="/edaItem/<%= item.id %>" method="POST">
  <input type="hidden" id="type" name="type" value="<%= item.type %>"/>

  <div class="row schematicSymbol">
    <div class="span1">
      <% if(item.id !== 'new') { %>
      <div class="vote">
        <a id="voteUp" class="<%= item.vote == 1 ? 'voteUpOn' : 'voteUpOff' %>" href="javascript:">up vote</a>
        <span id="voteCount" class="voteCount"><%= item.voteCount || 0 %></span>
        <a id="voteDown" class="<%= item.vote == -1 ? 'voteDownOn' : 'voteDownOff' %>" href="javascript:">down vote</a>

        <a id="favorite" class="<%= item.isFavorite ? 'favoriteOn' : 'favoriteOff' %>" href="javascript:">favorite</a>

        <div id="favoriteCount" class="favoriteCount"><%= item.favoriteCount || '' %></div>
      </div>
      <% } %>
    </div>
    <div class="span4">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#view2d" data-toggle="tab" id="view2dTab">2D View</a></li>
        <% if(item.has3d || (editable && item.type == models.EdaItem.types.pcbModule)) { %>
        <li><a href="#view3d" data-toggle="tab" id="view3dTab">3D View</a></li>
        <% } %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="view2d">
          <div id="svgContainer"></div>

          <!-- Code -->
          <% if(editable) { %>
            <div class="readWriteField <%= getValidationErrorClass('code') %>" style="display: none;">
              <label class="title">KiCad Code:</label>
              <textarea type="text" class="value" name="code" id="code" style="width: 340px; height: 200px;" onchange="updateRender();" onkeyup="updateRender();"><%= item.code %></textarea>
              <input type="hidden" id="unit" name="unit" value="<%= item.unit ? item.unit.name : '' %>"/>
            </div>
            <input type="file" id="shape2dUpload"/>
            <div id="codeErrors" class="codeErrors"></div>
            <%- getValidationError('code') %>
          <% } %>
        </div>
        <div class="tab-pane" id="view3d">
          <% if(editable) { %>
            <div class="readWriteField <%= getValidationErrorClass('codeWrl') %>" style="display: none;">
              <label class="title">KiCad Code 3D:</label>
              <textarea type="text" class="value" name="codeWrl" id="codeWrl" style="width: 340px; height: 200px;"><%= item.codeWrl %></textarea>
            </div>
          <% } %>
          <div id="shape3dContainer">
            <% if(item.id != 'new') { %>
              <embed id="shape3dVrml" src="<%= item.id %>.wrl" width="400" height="300" border="0">
            <% } %>
          </div>
          <input type="file" id="shape3dUpload"/>
        </div>
      </div>

    </div>
    <div class="span7">
      <!-- Title -->
      <div class="readWriteField <%= getValidationErrorClass('title') %>">
        <label class="title">Title:</label>
        <% if(editable) { %>
        <input type="text" class="value" name="title" id="title" value="<%= item.title %>"/>
        <%- getValidationError('title') %>
        <% } else { %>
        <span class="value"><%= item.title %></span>
        <% } %>
      </div>

      <!-- Description -->
      <div class="readWriteField <%= getValidationErrorClass('description') %>">
        <label class="title">Description:</label>
        <% if(editable) { %>
        <textarea type="text" class="value" name="description" style="width: 400px; height: 200px;"><%= item.description
          %></textarea>
        <%- getValidationError('description') %>
        <% } else { %>
        <pre class="value"><%= item.description %></pre>
        <% } %>
      </div>

      <!-- Keywords -->
      <div class="readWriteField <%= getValidationErrorClass('keywords') %>">
        <label class="title">Keywords:</label>
        <% if(editable) { %>
        <input type="text" class="value" name="keywords" value="<%= item.keywords %>"/>
        <%- getValidationError('keywords') %>
        <% } else { %>
        <span class="value"><%= item.keywords %></span>
        <% } %>
      </div>

      <!-- Created By -->
      <div class="readonlyField">
        <span class="title">Created By:</span><span class="value"><a href="/user/<%= item.createdBy.id %>"><%=
        item.createdBy.username %></a></span>
      </div>

      <!-- Modified Date -->
      <div class="readonlyField">
        <span class="title">Modified Date:</span><span class="value"><%= sf('{0:MM/dd/yyyy}', new Date(item.modifiedDate)) %></span>
      </div>

      <!-- Actions -->
      <% if(editable) { %>
      <br/>
      <input type="submit" class="btn btn-primary" href="/edaItem/<%= item.id %>" title="Save" value="Save"/>
      <% } %>
    </div>
  </div>
</form>

<div id="fileItemListModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Select Item To Add</h3>
  </div>
  <div class="modal-body">
    <select id="fileItemList" name="fileItemList" size="20">

    </select>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="fileItemListSelect">Select</button>
  </div>
</div>

<script type="text/javascript">
  var enableAnimation;
  var schematicSymbolId = '<%= item.id %>';
  var isLoggedIn = '<%= session.user ? true : false %>' == 'true';

  $(function() {
    $('#voteUp').click(function() {
      if (isLoggedIn) {
        var state = getUpDownState();
        var newState = state === 'up' ? 'none' : 'up';
        changeUpDownState(newState);
        $.post('/schematicSymbol/' + schematicSymbolId + '/vote', { state: newState }, function(data) {
          changeUpDownCount(data.voteCount);
        });
      } else {
        myAlert("info", "You must be logged in to vote.");
      }
    });

    $('#voteDown').click(function() {
      if (isLoggedIn) {
        var state = getUpDownState();
        var newState = state === 'down' ? 'none' : 'down';
        changeUpDownState(newState);
        $.post('/schematicSymbol/' + schematicSymbolId + '/vote', { state: newState }, function(data) {
          changeUpDownCount(data.voteCount);
        });
      } else {
        myAlert("info", "You must be logged in to vote.");
      }
    });

    $('#favorite').click(function() {
      if (isLoggedIn) {
        var state = getFavoriteState();
        var newState = !state;
        changeFavoriteState(newState);
        $.post('/schematicSymbol/' + schematicSymbolId + '/favorite', { state: newState }, function(data) {
          changeFavoriteCount(data.favoriteCount);
        });
      } else {
        myAlert("info", "You must be logged in to favorite a schematic symbol.");
      }
    });

    $('#view2dTab').on('show', function(e) {
      console.log('cancel 3d');
      enableAnimation = false;
      setTimeout(function() {
        $('#shape3dContainer').html('');
      }, 500);
    });
    $('#view3dTab').on('show', function(e) {
      var elem = $('#shape3dVrml').get(0) || {};
      var supportVrml = Object.keys(elem).some(function(key) {
        return /vrml/.test(key);
      });
      if(!supportVrml) {
        $('#shape3dVrml').hide();
        render3d();
      }
    });

    $('#shape2dUpload').change(function(evt) {
      var files = evt.target.files;
      if (files.length != 1) {
        return myAlert('error', 'Unexpected file upload.');
      }
      var file = files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        var content = e.target.result;
        loadShape2dFileContent(file, content);
      };
      return reader.readAsBinaryString(file);
    });

    $('#shape3dUpload').change(function(evt) {
      var files = evt.target.files;
      if (files.length != 1) {
        return myAlert('error', 'Unexpected file upload.');
      }
      var file = files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        var content = e.target.result;
        loadShape3dFileContent(file, content);
      };
      return reader.readAsBinaryString(file);
    });
  });

  function render3d() {
    console.log('render3d');
    try {
      var url = '/pcbModule/<%= item.id %>.webgl.js';
      var width = 350;
      var height = 350;
      var floor = 0;
      var shape3dContainer = document.getElementById('shape3dContainer');

      // camera
      var camera = new THREE.PerspectiveCamera(45, width / height, 1, 1000);
      camera.position.set(2, -2, 2);
      camera.lookAt(0, 0, 0);

      // scene
      var scene = new THREE.Scene();

      // lights
      var ambient = new THREE.AmbientLight(0xffffff);
      scene.add(ambient);

      // more lights
      var directionalLight = new THREE.DirectionalLight(0xffeedd);
      directionalLight.position.set(0, -10, 20).normalize();
      scene.add(directionalLight);

      // controls
      var controls = new THREE.TrackballControls(camera, shape3dContainer);
      controls.target.set(0, 0, 0);

      controls.rotateSpeed = 1.0;
      controls.zoomSpeed = 1.2;
      controls.panSpeed = 0.8;

      controls.noZoom = false;
      controls.noPan = false;

      controls.staticMoving = false;
      controls.dynamicDampingFactor = 0.15;

      // renderer
      var webglRenderer = new THREE.WebGLRenderer();
      webglRenderer.setSize(width, height);
      webglRenderer.domElement.style.position = "relative";
      shape3dContainer.appendChild(webglRenderer.domElement);

      // loader
      var loader = new THREE.JSONLoader();
      var callbackModel = function(geometry) { createScene(geometry, 90, floor, -50, 105) };
      return loader.load(url, callbackModel);
    } catch (e) {
      $('#shape3dContainer').html("Missing WebGL or VRML Support in your browser.");
    }

    function createScene(geometry, x, y, z, b) {
      var zmesh = new THREE.Mesh(geometry, new THREE.MeshBasicMaterial({
        color: 0xAB962B
      }));
      zmesh.position.set(0, 0, 0);
      zmesh.scale.set(1, 1, 1);
      scene.add(zmesh);

      enableAnimation = false;
      setTimeout(function() {
        enableAnimation = true;
        animate();
      }, 500);
    }

    function animate() {
      if(!enableAnimation) {
        return;
      }
      requestAnimationFrame(animate);
      controls.update();
      webglRenderer.render(scene, camera);
    }
  }

  function getFavoriteState() {
    return $('#favorite').hasClass('favoriteOn');
  }

  function changeFavoriteState(state) {
    var favorite = $('#favorite');
    if (state) {
      favorite.addClass('favoriteOn').removeClass('favoriteOff');
    } else {
      favorite.addClass('favoriteOff').removeClass('favoriteOn');
    }
  }

  function changeFavoriteCount(count) {
    $('#favoriteCount').text(count);
  }

  function getUpDownState() {
    if ($('#voteUp').hasClass('voteUpOn')) {
      return 'up';
    }
    if ($('#voteDown').hasClass('voteDownOn')) {
      return 'down';
    }
    return 'none';
  }

  function changeUpDownCount(count) {
    $('#voteCount').text(count);
  }

  function changeUpDownState(state) {
    var voteUp = $('#voteUp');
    var voteDown = $('#voteDown');

    if (state === 'up') {
      voteUp.addClass('voteUpOn').removeClass('voteUpOff');
      voteDown.addClass('voteDownOff').removeClass('voteDownOn');
    } else if (state === 'down') {
      voteUp.addClass('voteUpOff').removeClass('voteUpOn');
      voteDown.addClass('voteDownOn').removeClass('voteDownOff');
    } else {
      voteUp.addClass('voteUpOff').removeClass('voteUpOn');
      voteDown.addClass('voteDownOff').removeClass('voteDownOn');
    }
  }

  function updateRender() {
    render($('#code').val());
  }

  function render(data) {
    if (!data) {
      return;
    }
    var type = $('#type').val();
    var codeErrors = $('#codeErrors');
    try {
      codeErrors.text('');
      if (type == EdaItem.types.schematicSymbol) {
        renderSchematicSymbol('#svgContainer', data, {
          size: 350
        });
      } else {
        renderPcbModule('#svgContainer', data, {
          size: 350
        });
      }
    } catch (e) {
      codeErrors.text('' + e);
      console.error('Could not render', e.stack);
    }
  }

  function loadShape3dFileContent(file, content) {
    $('#codeWrl').text(content);
    $('#shape3dContainer').html('You need to save the part before viewing the 3D render.')
  }

  function loadShape2dFileContent(file, content) {
    try {
      var mod = kicad2svg.modParser(content);
      loadMod(file, mod);
    } catch (modParserEx) {
      console.error(modParserEx);
      try {
        var lib = kicad2svg.libParser(content);
        loadLib(file, lib);
      } catch (libParserEx) {
        console.error(libParserEx);
        myAlert('error', 'Could not parse file.');
      }
    }
  }

  function loadMod(file, mod) {
    console.log(mod);
    var symbolNames = Object.keys(mod.modules)
        .map(function(symbolKey) { return symbolKey });
    showFileItemListModal(symbolNames, function(err, selectedItem) {
      if(err){
        return myAlert('error', err);
      }
      console.log(mod.modules[selectedItem]);
      if(!$('#title').val()) {
        $('#title').val(mod.modules[selectedItem].name);
      }
      $('#type').val(EdaItem.types.pcbModule);
      $('#code').text(mod.modules[selectedItem].original);
      $('#unit').val(mod.modules[selectedItem].units);
      return updateRender();
    });
  }

  function loadLib(file, lib) {
    var symbolNames = Object.keys(lib.symbols)
        .map(function(symbolKey) { return symbolKey });
    showFileItemListModal(symbolNames, function(err, selectedItem) {
      if(err){
        return myAlert('error', err);
      }
      console.log(lib.symbols[selectedItem]);
      if(!$('#title').val()) {
        $('#title').val(lib.symbols[selectedItem].name);
      }
      $('#type').val(EdaItem.types.schematicSymbol);
      $('#code').text(lib.symbols[selectedItem].original);
      return updateRender();
    });
  }

  function showFileItemListModal(names, callback) {
    var selectHtml = names
        .map(function(name) {
          return "<option>" + name + "</option>";
        })
        .join('\n');
    $('#fileItemList').html(selectHtml);
    var handler = function() {
      $('#fileItemListSelect').unbind('click', handler);
      $('#fileItemListModal').modal('hide');
      return callback(null, $('#fileItemList').val());
    };
    $('#fileItemListSelect').bind('click', handler);
    $('#fileItemListModal').modal({});
  }

</script>
<script type="text/javascript">
  // keep this in a separate block unless it has broken code.
  render('<%- item.jsKiCadData %>');
</script>